@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f8f9fa;
}

.header-parent {
    background-color: #4d47c3;
    padding: 1rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: transparent;
    color: white;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-right {
    display: flex;
    gap: 16px;
}

.header-right * {
    cursor: pointer;
}

.header-right *:hover {
    color: #cccccc;
}

.header-right *:active {
    color: aliceblue;
}

.dashboard {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
}

.dashboard-content {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 1rem 0;
}

.publish-blog-parent {
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.publish-blog {
    width: 60%;
    max-width: 880px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.publish-blog-child {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.publish-button {
    max-width: 135px;
}

.blog-parent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: white;
}

.myblogs-main {
    width: 60%;
    max-width: 880px;
}

.myblogs-main-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.blog-head {
    display: flex;
    gap: 24px;
    max-width: 568px;
}

#myBlogsMainHeading {
    margin-bottom: 24px;
}

.profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin: 1.5rem 0;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 1250px;
    width: 90%;
}

.profile-img {
    width: 250px;
    position: relative;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-img .pen {
    position: absolute;
    bottom: 45px;
    right: 45px;
    width: 25px;
    cursor: pointer;
}

img {
    width: 100%;
}

.profile-name-container {
    width: max-content;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.profile-name-container img {
    width: 20px;
    cursor: pointer;
}

.password-container {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.password-container button {
    padding: 18px;
    width: 100%;
    border-radius: 8px;
    background: #4d47c3;
    border: none;
    outline: none;
    color: #FFFFFF;
    margin-bottom: 9px;
    cursor: pointer;
    text-transform: uppercase;
    transition: scale ease-out 150ms;
}

.password-container button:active {
    scale: .95;
}

.p-img {
    overflow: hidden;
}

#userNameEdit {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userNameEdit::after {
    display: block !important;
    content: "";
    width: 75%;
    height: 6px;
    border-radius: 4px;
    background-color: #444444;
    margin-bottom: -1rem;
}

.spinner-bg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e4e2ec;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-right-color: #7749f8;
    animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
    margin: 8.9px;
    animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
    100% {
        transform: rotate(1turn);
    }
}

.d-none {
    display: none !important;
}

.password-input {
    position: relative;
}

.password-input img {
    position: absolute;
    top: 31.5px;
    right: 20px;
    width: 22px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-input {
    padding: 20px 50px 20px 26px;
    color: #4d47c3;
    font-size: 0.9375rem;
    width: 100%;
    border-radius: 8px;
    background: #f0efff;
    outline: none;
    border: none;
}

.input-fields {
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}